# Hide the Instance Files
instance

# Data files are the local testing SQLite Database
data

#cache files
__pycache__

# Python Compiled files
*.pyc

# Stop tracking the .env special stuff in there
.env

# The csvs/xlsx are for updating the DBs and should not be tracked
*.xlsx
*.csv

# Stop tracking the dls
app/static/dls
