#cache files
__pycache__

# Python Compiled files
*.pyc

# The csvs/xlsx are for updating the DBs and should not be tracked
*.xlsx
*.csv

# Updater scriptt
update_site.sh

# virtual environment
env/*
# ignore my notes file
notes.md
# i use gitattributes for password smudging don't commit this
.gitattributes

# exclude the pdf files created by the ict - pandoc shit
*.pdf
