# Hide the Instance Files
instance

# Data files are the local testing SQLite Database
data

#cache files
__pycache__

# Python Compiled files
*.pyc

# hide the virtual env
webserv

# Stop tracking the .env special stuff in there
.env
