.indicatorbox, .filterbox {
	border: 3px solid #4c2d82;
	width: 400px;
	display:block;
	padding:15px 0px 0px 0px;
	margin: 10px 10px 45px 0px;
}

.filterbox {
	height:250px;
}

.indicatorbox {
	float:right;
	margin-top:0px;
	height:530px;
}

.filterbox p, .indicatorbox p {
	padding:0;
	margin: 0;
	text-align:center;
}

.scrollbox {
	overflow-y:scroll;
	overflox-x:hidden;
	height: 220px;
	border-top:1px solid #999;
}

.indicatorbox .scrollbox{
	height: 500px;
}

.scrollbox ul {
	list-style: none;
	padding-left:0;
	margin-top: 0;
}
.scrollbox li {
	line-height: 18px;
	padding-bottom: 5px;
}

.selectionbuttons {
	text-align: center;
}

.selectionbuttons button, input[type="submit"] {
	background-color: #fff;
	border: 2px solid #4c2d82;
	padding: 5px;
	width: 150px;
	margin: 10px;
}

.buttonbox {
	clear:both;
	margin: auto;
	text-align:center;
}
.contenthole {
	overflow:hidden;
	max-width:850px;
}
