  /*******************************/
 /* Borders, sizing and spacing */
/*******************************/

.contenthole {
	width:				345px;
	padding-left:		0;
	padding-right:		0;
}

.indicatorbox {
	height: 			600px;
	width:	 			344px;
	padding: 			0;
}

.boundingbox {
	border: 			3px solid #4c2d82;
	padding:			0 0 0 0;

}

.scrollbox {
	overflow-y:			scroll;
	overflow-x:			hidden;
	height: 			500px;
	border-top:			1px solid #999;
	padding-left:		2px;
}

  /********************/
 /* Checkbox styling */
/********************/

.scrollbox ul {
	list-style: none;
	padding-left:		3px;
	margin-top:			0;
}

.scrollbox li {
	line-height:		22px;
	max-height:			250px;
	overflow:			hidden;
	transition:			max-height 400ms linear;
}

.scrollbox p {
	text-indent:		-28px; 
	padding: 			0 3px 0 28px;
	margin:				0;
}

.geoyear li {
	height:				20px;
	padding:			0 0 0 15px;
	margin:				2px 0 2px;
}
.geoyear {
	overflow:			hidden;
	max-height:			0;
 	transition: 		max-height 500ms linear;
}

.geos:checked ~ .geoyear {
	max-height:			200px;
}

  /**********************/
 /* Filterbox Headings */
/**********************/
.indicatorbox h3 {
	padding:			5px 5px 5px 0;
	display:			inline-block;
	margin:				0 auto 0;
	text-align:			center;
	font-size:			12pt;
}
.indicatorbox input[type=search]{
	float:				right;
	height:				32px;
	padding:			0 0 0;
	margin:				2px 10px 0 0;
	border:				1px solid #555;
	transition-property: width, background-color;
	transition-duration: 400ms;
	transition-timing-function:  linear;
	width:				32px;
	background:	#4c2d82 url('../images/filteri.png') center center no-repeat;
	cursor:				pointer;


}

.indicatorbox input[type=search]:focus, .indicatorbox input[type=search].haschars {
	width:				200px;
	background:			#fff;
	cursor:				text;
	
}


.indicatorbox input[type=search]:focus ~ h3 {

}

  /******************/
 /* Button Styling */
/******************/
.buttonbox {
	text-align:			center;
	width:				360px;
	padding:			0 0 0 0;
	margin:				5px  0 5px 0;
}

.selectionbuttons {
	text-align:			center;
}

.selectionbuttons button, input[type="submit"] {
	background-color:	#fff;
	border:				2px solid #4c2d82;
	padding:			5px;
	width: 				150px;
	margin:				10px;
}

  /****************************************************************************/
 /*                                TABLET MODE                               */
/****************************************************************************/

@media (min-width: 768px) and (max-width: 1023px) {
	/*-- The Grid Layout --*/
	.contenthole {
		width: 					768px;
	}

	form {
		margin: 				0 auto 0;
		display: 				grid;
		grid-template-columns:	repeat(2, 1fr);
		grid-auto-rows: 		minmax();
		grid-column-gap: 		15px;
		grid-row-gap: 			10px;
	}

	.filterbox, .indicatorbox{
		width: 					360px;
	}
	
	#indicatorbox {
		grid-row: 				1;
		grid-column: 			2;
	}

	#geoGroup {
		grid-row: 				1;
		grid-column: 			1;
	}

	.buttonbox {
		grid-row: 				2;
		grid-column: 			1 / 3;
		width: 					100%;
	}
}
  /****************************************************************************/
 /*                                LAPTOP MODE                               */
/****************************************************************************/
@media (min-width: 1024px) {
	/*-- The Grid Layout --*/
	.contenthole {
		width: 					900px;
	}

	form {
		width:					900px;
		margin: 				0 auto 0;
		display: 				grid;
		grid-template-columns:	repeat(2, 1fr);
		grid-auto-rows: 		minmax();
		grid-column-gap: 		20px;
		grid-row-gap: 			10px;
	}

	.filterbox, .indicatorbox{
		width: 					440px;
	}
	
	#indicatorbox {
		grid-row: 				1;
		grid-column: 			2;
	}

	#geoGroup {
		grid-row: 				1;
		grid-column: 			1;
	}

	.buttonbox {
		grid-row: 				2;
		grid-column: 			1 / 3;
		width: 					100%;
	}
}