html,body {
	font-family:		'Open Sans', sans-serif;
	font-size:			12pt;
	line-height:		1.722222;
	font-weight:		normal;
	color:				#555;
	background-color: 	#fff;
	height: 			100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family:	'Encode Sans', sans-serif;
	font-weight: 	900;
}

.container {
	min-height:		100%;
	max-width:		1024px;
	margin:			0 auto 0;
}

  /****************************************************************************/
 /*                                  HEADER                                  */
/****************************************************************************/
header {
	color:			#000;
	margin: 		auto;
	padding: 		0;
	width: 			1024px;
}

  /************/
 /*    H1    */
/************/
header h1 {
	display: 		inline-block;
	padding:		0;
	color: 			rgba(0, 0, 0, 0);
	background: 	#fff url('../images/banner720.png') center center no-repeat;
	margin: 		0 0 0 30px;
	width:			720px;
	height:			256px;
}

  /************/
 /*    NAV   */
/************/
header nav{
	display:		inline-block;
	margin: 		30px 0 0;
	float:			right;
}

/* Nav Link List */
header nav ul{
	margin:			5px auto 5px;
	padding:		0;
	display:		inline-block;
}
header nav li {
	list-style:		none;
	font-size:		24px;
	margin: 		0 auto 5px;
	border:			3px solid #555;
}
header nav a {
	color: 			#fff;
	display:		inline-block;
	height: 		36px;
	padding:		10px 10px 10px 48px;
	width:			180px;
	border:			3px solid #fff;
	
}
header nav a:link{
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
	color: #000;
}

/* Link Images */
.about {
	background:		#4c2d82 url('../images/about32r.png') left center no-repeat;
	margin: 		0;
}
.about:hover {
	background:		#fff url('../images/about32ir.png') left center no-repeat;
}
.home {
	background:		#4c2d82 url('../images/home32r.png') left center no-repeat;
}
.home:hover {
	background:		#fff url('../images/home32ir.png') left center no-repeat;
}
.dl {
	background:		#4c2d82 url('../images/dl32r.png') left center no-repeat;
}
.dl:hover {
	background:		#fff url('../images/dl32ir.png') left center no-repeat;
}
  /****************************************************************************/
 /*                                  CONTENT                                 */
/****************************************************************************/
.contenthole {
	margin:			0 auto 0;
	overflow:		auto;
	padding-bottom:	900px;
}



  /****************************************************************************/
 /*                                  FOOTER                                  */
/****************************************************************************/
footer {	
	position: 		relative;
	/* negative value of footer height */
	margin:			-700px auto 0;
  	height: 		700px;
  	width: 			1024px;
  	padding:		0 0 0;
  	border-top:		5px solid #555 ;
  	clear: 			both;
}
#credits{
	float: 			left;
	width: 			480px;
	margin: 		0 0 0;
	padding: 		0 0 0;
}
#about {
	margin:			0 0 0;
	padding: 		0 0 0;
	width: 			480px;
	float:			right;
}
#footimg {
	background: #fff url('../images/vfooter360.png') center top no-repeat;
	height:			400px;
	width:			480px;
	color:			rgba(256, 256, 256, 0);
}

  /****************************************************************************/
 /*                               TABLET  MODE                               */
/****************************************************************************/
@media (min-width: 768px) and (max-width: 1023px){
	header {
		margin:			5px auto 5px;
		width: 			768px;
		display:		block;
	}
	header h1 {
		margin:			0;
		padding:		0;
		width:			768px;
	}
	header nav {
		margin: 		0 auto 0px;
		padding: 		0 0 0 0;
		width:			768px;
		float:			none;
	}

	header nav ul {
		display: 		inline-block;
		margin: 		5px auto 5px ;
		padding:		0;
	}

	header nav li {
		margin:			0 5px 0 0;
		display:		inline-block;
		font-size:		22px;
	}
	header nav a {
		width: 			170px;
	}
	footer {	
	  	width: 			720px;
	  	padding:		0 0 0;
	  	clear: 			both;
	}
	#credits{
		width: 			360px;
	}
	#about {
		width: 			360px;
		float:			right;
	}
	#footimg {
		height:			400px;
		width:			360px;
	}
		

}
  /****************************************************************************/
 /*                                PHONE MODE                                */
/****************************************************************************/
@media(max-width: 767px)
{
	header {
		width: 			360px;
		padding-top:	10px;
	}
	header h1 {
		background: #fff url('../images/banner360.png') center center no-repeat;
		width: 			360px;
		height: 		128px;
		display: 		block;
		padding: 		0;
		margin: 		0;
	}
	header nav {
		margin:			0 auto 0;
		float: 			none;
	}
	header nav ul {
		margin: 		5px auto 5px;
		width: 			360px;
		display: 		block;
	}
	header nav li{
		display: 		block;
		margin: 		0 auto 5px;
		width: 			180px;
	}
	header nav li a {
		margin: 		0 0 0 -10px;
	}
	.contenthole {
		padding-bottom:	700px;
	}
	footer {	
		position: 		relative;
		/* negative value of footer height */
		margin:			-700px auto 0;
	  	height: 		700px;
	  	width: 			360px;
	  	padding:		0 0 0;
	  	clear: 			both;
	}

	#credits{
		width: 			360px;
		float:			none;
	}
	#about {
		width: 			360px;
		float:			none;
	}
	#footimg {
		height:			400px;
		width:			360px;
	}
}

