html,body {
	font-family:		'Open Sans', sans-serif;
	font-size:			12pt;
	line-height:		1.722222;
	font-weight:		normal;
	color:				#555;
	background-color: 	#fff;
	height: 			100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family:	'Encode Sans', sans-serif;
	font-weight: 	900;
}

.container {
	min-height:		100%;
}

  /****************************************************************************/
 /*                                  HEADER                                  */
/****************************************************************************/
header {
	color:			#000;
	margin: 		auto;
	padding: 		0;
	width: 			1024px;
}

  /************/
 /*    H1    */
/************/
header h1 {
	display: 		inline-block;
	padding:		0;
	color: 			rgba(0, 0, 0, 0);
	background: 	#fff url('../images/banner720.png') center center no-repeat;
	margin: 		0 0 0 30px;
	width:			720px;
	height:			256px;
}

  /************/
 /*    NAV   */
/************/
header nav{
	display:		inline-block;
	margin: 		30px 30px 0 0;
	width: 			180px;
	float:			right;
}

/* Nav Link List */
header nav ul{
	margin:			5px auto 5px;
	padding:		0;
	display:		inline-block;
}
header nav li {
	list-style:		none;
	font-size:		24px;
	margin: 		0 auto 5px;
}
header nav a {
	color: 			#fff;
	display:		inline-block;
	height: 		36px;
	padding:		10px;
	width:			180px;
	padding-left: 	40px;
	
}
header nav a:link{
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
	color: #000;
}

/* Link Images */
.about {
	background:		#4c2d82 url('../images/about32.png') left center no-repeat;
}
.about:hover {
	background:		#fff url('../images/about32i.png') left center no-repeat;
}
.home {
	background:		#4c2d82 url('../images/home32.png') left center no-repeat;
}
.home:hover {
	background:		#fff url('../images/home32i.png') left center no-repeat;
}
.dl {
	background:		#4c2d82 url('../images/dl32.png') left center no-repeat;
}
.dl:hover {
	background:		#fff url('../images/dl32i.png') left center no-repeat;
}
  /****************************************************************************/
 /*                                  CONTENT                                 */
/****************************************************************************/
.contenthole {
	margin:			auto;
	overflow:		auto;
	padding-bottom:	500px;
}



  /****************************************************************************/
 /*                                  FOOTER                                  */
/****************************************************************************/
footer {	
	position: 		relative;
	/* negative value of footer height */
	margin:			-500px auto 0;
  	height: 		500px;
  	width: 			720px;
  	padding:		200px 0 0;
  	clear: 			both;
}
#footimg {
	background: #fff url('../images/footer720.png') center top no-repeat;
	height:			180px;
	width:			720px;
	color:			rgba(256, 256, 256, 0);
}

  /****************************************************************************/
 /*                               TABLET  MODE                               */
/****************************************************************************/
@media (min-width: 768px) and (max-width: 1023px){
	header {
		margin:			5px auto 5px;
		width: 			720px;
		display:		block;
	}
	header h1 {
		margin:		0;
		padding:	0;
	}
	header nav {
		margin: 		0 auto 0px;
		padding: 		0 0 0 10px;
		width:			720px;
		float:			none;
	}

	header nav ul {
		display: 		inline-block;
		margin: 		5px auto 5px ;
		padding:		0;
	}

	header nav li {
		margin:			0 5px 0 0;
		display:		inline-block;
	}
	

}
  /****************************************************************************/
 /*                                PHONE MODE                                */
/****************************************************************************/
@media(max-width: 767px)
{
	header {
		width: 			360px;
		padding-top:	10px;
	}
	header h1 {
		background: #fff url('../images/banner360.png') center center no-repeat;
		width: 			360px;
		height: 		128px;
		display: 		block;
		padding: 		0;
		margin: 		0;
	}
	header nav {
		margin:			0 auto 0;
		float: 			none;
	}
	header nav ul {
		margin: 	5px auto 5px;
		width: 			360px;
		display: 		block;
	}
	header nav li{
		display: 		block;
		margin: 		0 auto 5px;
		width: 			180px;
	}
	header nav li a {
		margin: 		0 0 0 -10px;
	}
	.contenthole {
		padding-bottom:		550px;
	}
	footer {	
		position: 		relative;
		/* negative value of footer height */
		margin:			-550px auto 0;
	  	height: 		550px;
	  	width: 			360px;
	  	padding:		0 0 0;
	  	clear: 			both;
	}
	#footimg {
		background: #fff url('../images/vfooter360.png') center top no-repeat;
		height:			400px;
		width:			360px;
		color:			rgba(256, 256, 256, 0);
	}
}

