body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 1.722222;
	font-weight: normal;
	color: #3D3D3D;
	background-color: #fff;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

header {
	margin-top:-23px;
	color: #fff;
	background-color:#b7a479;
	width: 100%;
	margin-right:0px;
	margin-left: 0px;
}
header h1 {
	font-weight: 700;
	text-align: center;
	padding: 30px;
}

header nav{
	background-color: #4c2d82;
	display:block;
	width:100%;
	height: 50px;
	text-align: center;
}
header nav a {
	color: #fff;
	display:inline-block;
	height:100%;
	width:100%;
	padding:12px 0px 12px 0px;
}
header nav a:link{
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
	color: #000;
}

header nav li {
	list-style: none;
	display: inline-block;
	width: 10em;
	margin:0;
}

header nav li:hover {
	background-color: #fff;
}
header nav li:hover a{
	color:#000;

}
select {
	width:100%;
}

.filterbox {
	float:left;
	display:block;
	width: 25em;
	height:25em;
	border: 3px solid #4c2d82;
	padding:1em 0em 0em 0em;
	margin: .5em;
}

.filterbox p {
	padding:0;
	margin: 0;
	text-align:center;
}
.filterbox select {
	font-size: 17px;
	font-family: "Open Sans" sans-serif;
	height:23.25em;
}
.scrollbox {
	overflow-y:scroll;
	overflox-x:hidden;
	height: 23.25em;
	border-top:1px solid #999;
}

.scrollbox ul {
	list-style: none;
	padding-left:0;
	margin-top: 0;
}
.scrollbox li {
	line-height: 1.1em;
	padding-bottom: .5em;
}


td {
	padding: 10px;
	border-bottom-width:2px;
	border-bottom-style: dashed;
}

.contenthole {
	margin:auto;
	overflow:hidden;
	max-width:80em;
}

input[type="submit"] {
	clear:both;
}

footer {
	clear:both;
}
