<!-- base.html -->

<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	 <link href="https://fonts.googleapis.com/css?family=Encode+Sans:900|Open+Sans" rel="stylesheet"> 
	<link rel="stylesheet" 
		href="{{ url_for('static', filename='css/main.css') }}" />
	<link rel="icon" 
		href="{{ url_for('static', filename='images/icon.png') }}" />
	{% block includes %}{% endblock %}
</head>
<body>
	<div class="container">
		<header>
			<img src="{{ url_for('static', filename='images/banner.png') }}" alt='Evans Policy Analysis and Research Group Logo' id='banner' />
			<nav> 
				<ul>
					<li><a href="https://evans.uw.edu/policy-impact/epar">EPAR Home</a></li>
					<li><a href="/">Data Search</a></li>
					<li><a href="https://evans.uw.edu/policy-impact/epar/agricultural-development-data-curation">Data Curation</a></li>
					<li><a href="https://github.com/EvansSchoolPolicyAnalysisAndResearch/335_Data-Dissemination/raw/master/EPAR_UW_335_AgDev_Indicator_Estimates.xlsx">Download Data</a></li>
				</ul>
			</nav>
		</header>
		<section class="contenthole">
				<h1>{% block pageheader %}{% endblock %}</h1>
				{% block body %} {% endblock %}
		</section>
		
		
	</div> <!-- end container -->
<footer>
	<p>&copy; Copyright 2018 Evans Policy Analysis and Research Group</p>
</footer>
</body>
</html>