<!-- base.html -->

<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% block pageHead %}{% endblock %}
</head>
<body>
	<div class="container">
		<header>
			<h1>Evans Policy Analysis and Research Group</h1>
			<nav> 
				<ul>
					<li><a href="https://evans.uw.edu/policy-impact/epar">EPAR Home</a></li>
					<li><a href="/">Data Search</a></li>
					<li><a href="/login">Login</a></li>
					
				</ul>
			</nav>
		</header>
		<section class="contenthole">
				<h1>{% block pageheader %}{% endblock %}</h1>
				{% block body %} {% endblock %}
		</section>
		<footer>
			&copy; Copyright 2018 Evans Policy Analysis and Research Group
		</footer>
		
	</div> <!-- end container -->

</body>
</html>