<!-- index.html -->

{% extends "base.html" %}
{% block title %}EPAR Agricultural Data Project{% endblock %}
{% block pageHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block pageheader %}Select your Data{% endblock %}

{% block body %}
<p> 
	To select multiple categories, geographies or years use Control +
	click (Command + Click on Mac).
</p>
<p>
	To view values for all years or geographies leave the selection blank.
</p>

{% if goDisabled == True %}
<form method="POST" action="/">
		
		<!-- Here be the point where I need to get the indicator categories from the database -->
	<div id="icGroup" class="filterbox">
		<label for=indicatorCategory>Category:</label> <br />
		<select multiple id="indicatorCategory" name="indicatorCategory">
			{% for cat in indicatorCategory %}
				<option>{{cat}}</option>
			{% endfor %}
		</select>
	</div>
	<div class='buttonbox'>
		<input type="submit" name="Find Indicators" value="Find Indicators">
	</div>
</form>
{% endif %}

{% if goDisabled == False %}
<form method="POST" action="/results">
	<div id='years' class='filterbox'>
		<p>Years:</p> 
		<select multiple id="years" name="years">
			{% for year in years %}
				<option>{{year}}</option>
			{% endfor %}
		</select>
	</div>
	<div id="geoGroup" class="filterbox">
		<p>Geographic Region:</p>
		<select multiple id="geography" name="geography">
			{% for geo in geography %}
				<option>{{geo}}</option>
			{% endfor %}
		</select>
	</div>
	<div id="indicatorBox" class="filterbox" >
		<p>Indicators:</p>
		<div class="scrollbox">
			<ul>
			{% for indicator in indicators %}
				<li>
					<input type="checkbox" 
							id="{{indicator}}" 
							name="{{indicator}}" 
							value="{{indicator}}">
					<label for="{{indicator}}">{{indicator}}</label>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class='buttonbox'>
		<input type="submit" value="Go" formaction='results' />
		<input type='submit' value='Download CSV' formaction='get-csv' />
	</div>
</form>
{% endif %}
{% endblock %}