<!-- index.html -->

{% extends "base.html" %}
{% block title %}EPAR Agricultural Data Project{% endblock %}
{% block pageHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block pageheader %}Select your Data{% endblock %}

{% block body %}
<form method="POST" action="/">
		<p> To select multiple categories, geographies or years use Control +
			click (Command + Click on Mac).
		</p>
		<!-- Here be the point where I need to get the indicator categories from the database -->
	<div id="icGroup" class="leftBox">
		<label for=indicatorCategory>Category:</label> <br />
		<select multiple id="indicatorCategory" name="indicatorCategory">
			{% for cat in indicatorCategory %}
				<option>{{cat}}</option>
			{% endfor %}
		</select>
	</div>
	<div id='years' class='leftBox'>
		<label for='years'>Years:</label> <br />
		<select multiple id="years" name="years">
			{% for year in years %}
				<option>{{year}}</option>
			{% endfor %}
		</select>
	</div>
	<div id="geoGroup" class="rightBox">
		<label for="geography">Geographic Region:</label><br />
		<select multiple id="geography" name="geography">
			{% for geo in geography %}
				<option>{{geo}}</option>
			{% endfor %}
		</select>
	</div>
	<input type="submit" name="Find Indicators" value="Find Indicators">
</form>
<form method="POST" action="/results">
		<h2>Indicators</h2>
		<input type="hidden" name="years" value='{{yrs}}' />
		<input type="hidden" name="geography" value='{{geos}}' />
		<ul>
		{% for indicator in indicators %}
			<li>
				<input type="checkbox" 
						id="{{indicator}}" 
						name="{{indicator}}" 
						value="{{indicator}}">
				<label for="{{indicator}}">{{indicator}}</label>
			</li>
		{% endfor %}
		</ul>
	<input type="submit" value="Go" {% if goDisabled==True %} disabled='true' {% endif %}>
</form>
{% endblock %}