<!-- index.html -->

{% extends "base.html" %}
{% block title %}Indicator Search{% endblock %}
{% block includes %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" media='all' />
	<script type="text/javascript" 
		src="{{ url_for('static', filename='js/dynamicform.js') }}" ></script>
{% endblock %}
{% block pageheader %}Select your Data{% endblock %}

{% block body %}

<form method="GET" action="/results">

	<! The Geography selection box>
	<div id="geoGroup" class="indicatorbox">
		<div class='boundingbox'>
			<h3>Country and Year:</h3>
			<div class="scrollbox">
				<ul>
				{% for geo in geoyears.keys() %}
					<li><input type="checkbox"
								value=""
								name=""
								id="{{geo}}" 
								class="geos"
								onchange="ToggleSelect(this); EnableButtons();"/>
						<label for="{{geo}}">
							{{geo}}</label>
						<ul class="geoyear">
							{% for yr in geoyears[geo] %}
								<li><label><input type="checkbox"
									value="{{geo}}_{{yr}}"
									name="geo_year"
									id="{{geo}}_{{yr}}" 
									class="{{geo}}"
									onchange="EnableButtons();"/>
									{{yr}}</label>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="selectionbuttons">
			<button type="button" class="select" 
				onclick="SelectAll('geos'); {% for geo in geoyears.keys() %}SelectAll('{{geo}}');{% endfor %}EnableButtons();" >
				Select All
			</button>
			<button type="button" class="clear" 
				onclick="ClearAll('geos'); {% for geo in geoyears.keys() %}ClearAll('{{geo}}'); {% endfor %}EnableButtons();">
				Clear All
			</button>
		</div>
	</div>

	<! The indicator Selector Box >
	<div id="indicatorbox" class="indicatorbox" >
		<div class='boundingbox'>
			<h3>Indicators: </h3>
			
			<div class="scrollbox">
				<ul>
				{% for indicator in indicators %}
					<li class="indicli"><p>
						<label><input type="checkbox" 
								id="{{indicator}}" 
								name="indicator" 
								value="{{indicator}}" 
								class="indicator"
								onchange="EnableButtons();" />
						{{indicator}}</label>
					</p></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="selectionbuttons">
			<button type="button" class="select" onclick="SelectAll('indicator');EnableButtons();" >
				Select All
			</button>
			<button type="button" class="clear" onclick="ClearAll('indicator');EnableButtons();">
				Clear All
			</button>
		</div>
	</div>

	<! View/Download Buttons>
	<div class='buttonbox'>
		<input type="submit" 
			value="View Estimates" 
			formaction='results' 
			class="submitter"
			disabled/>
		<input type='submit' 
			value='Download CSV' 
			formaction='get-csv' 
			class="submitter"
			disabled />
		<p><a href="/">Back to Category Selection</a></p>
	</div>

</form>
{% endblock %}